<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoxier.taoxiblog.mapper.CommentMapper">

    <select id="selectPageCommentList" resultType="com.taoxier.taoxiblog.model.vo.PageCommentVO">
            select c1.id, c1.nickname, c1.content, c1.avatar, c1.create_time, c1.is_admin_comment, c1.website,
            c1.parent_comment_id as parent_comment_id, c2.nickname as parent_comment_nickname
            from comment as c1 left join comment as c2 on c1.parent_comment_id=c2.id
            where c1.page=#{page}
            <if test="page==0 and blogId!=null">
                and c1.blog_id=#{blogId}
            </if>
            and c1.parent_comment_id=#{parentCommentId}
            and c1.is_published=true
            order by c1.create_time desc
    </select>

    <!--按id查询评论-->
    <select id="getCommentById" resultType="com.taoxier.taoxiblog.model.entity.CommentEntity">
            select c.id, c.nickname, c.email, c.content, c.avatar, c.create_time, c.ip, c.is_published, c.is_admin_comment, c.page,
                   c.is_notice, c.parent_comment_id, c.website, c.qq, c.blog_id, b.title
            from comment as c left join blog as b on c.blog_id=b.id
            where c.id=#{id}
    </select>


</mapper>